a{
  color: blue;
}
a:visited{
  color: blue;
}

.side {
    width: 200px;
    float: left;
}

.main {
    margin-left: 200px;
}
#paging {
  padding: 2px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

#paging a.page{
  padding: 2px;
}

.current a, a.current{
  color: #999;
  font-weight: bold;
  text-decoration: none;
}

.search-result{
  margin: 10px 0px;
  border-left: 1px solid #cccccc;
  padding-left: 10px;
}

.highlights{
  margin-left: 10px;
  color: #999;
}
.highlighted em{
  color: #666;
  background-color: yellow;
}

#facets h3
{
  margin-bottom: 0px;
}